@import '_normalize';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  background: #F5F5EB;
}

.reading-list-app {
  max-width: 600px;
  margin: 80px auto;
}

.app-name {
  font-weight: 200;
  text-align: center;
  margin-bottom: 40px;
}

.url-input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #E4E4E4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  &:focus {
    outline: none;
    border-color: #66AFE9;
  }
}

.list-container {
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
  color: inherit;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #E4E4E4;
  transition: 0.2s background-color;

  &:last-of-type {
    border-bottom-width: 0;
  }

  &:hover {
    background-color: #F7F7F4;
  }
}

.list-row-pending {
  background-color: #CAFFF6;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 80px;
  min-width: 80px;
  height: 80px;
  background-color: #DDD;
  margin-right: 15px;
}

.link-title {
  font-weight: bold;
}

.link-host {
  color: #999;
}
