@import '_normalize';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: rgb(245, 245, 235);
}

.reading-list-app {
  max-width: 600px;
  margin: 60px auto;
}

.app-name {
  text-align: center;
  margin-bottom: 40px;
}

.url-input {
  width: 100%;
  font-size: 24px;
  padding: 10px;
}
